body{
    font-family: Arial, sans-serif;
    background-color: #f5f9fc;
    margin-top: 0;

}

h1{
    color: #0ea5e9;

}


p{
    font-size: 22px;
    color: #374151;
}

nav{
    background: #0ea5e9;
    color: white;
    padding: 20px;
}

ul{
    list-style: none;
}

li{
    display: inline;
    margin-left: 20px;
}

a{
    text-decoration: none;
    color: White;
    font-weight: bold;
}

a:hover{
    color: yellow;
}

button{
    margin-top: 30px;
    padding: 15px 30px;
    background: #0ea5e9;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

img{
    width: 500px;
    margin-top:30px;
    border-radius:15px;
}

.hero{
    text-align: center;
    margin-top: 40px;
}

.mood-section{
    margin-top: 70px;
    text-align: center;
}

.mood-section h2{
    color: #1e88e5;
    font-size: 35px;
    margin-bottom: 30px;
}

.mood-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.mood-btn{
    background: white;
    border: 2px solid #29b6f6;
    padding: 15px 25px;
    border-radius: 40px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ;
}

.mood-btn:hover{
    background: #29b6f6;
    color: white;
    transform: scale(1.08);
}

.hero-buttons{
    margin-top: 30px;
}

.primary-btn{
    background: #0ea5e9;
    color: white;
    border: none;
    padding: 15px 35px;
    border-radius: 12px;
    font-size: 18px;
    cursor: pointer;
    margin-right: 15px;
}

.secondary-btn{
    background: transparent;
    color: #0ea5e9;
    border: 2px solid #0ea5e9;
    padding: 15px 35px;
    border-radius: 12px;
    font-size: 18px;
    cursor: pointer;
}

.recommendation-section{
    margin-top: 60px;
    text-align: center;
}

#recommendation-box{
    width: 60%;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

#recommendation-box h3{
    color: #1e88e5;
}

#recommendation-box p{
    font-size: 18px;
}